In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("SA_CSHomePrice_History_0228.xls")
df

,,AZ-Phoenix,CA-Los Angeles,CA-San Diego,CA-San Francisco,CO-Denver,DC-Washington,FL-Miami,FL-Tampa,GA-Atlanta,...,NC-Charlotte,NV-Las Vegas,NY-New York,OH-Cleveland,OR-Portland,TX-Dallas,WA-Seattle,Composite-10,Composite-20,National-US
0,YEAR,PHXR-SA,LXXR-SA,SDXR-SA,SFXR-SA,DNXR-SA,WDXR-SA,MIXR-SA,TPXR-SA,ATXR-SA,...,CRXR-SA,LVXR-SA,NYXR-SA,CEXR-SA,POXR-SA,DAXR-SA,SEXR-SA,CSXR-SA,CS20R-SA,CSUS-SA
1,1987-01-01 00:00:00,NaN,59.43,54.79,46.96,50.35,64.41,68.55,77.44,NaN,...,63.56,66.42,74.68,54.06,41.3,NaN,NaN,63.1,NaN,63.96
2,1987-02-01 00:00:00,NaN,59.89,55.22,47.3,50.16,65.13,68.92,78.1,NaN,...,64.03,67.57,76.04,54.23,41.44,NaN,NaN,63.8,NaN,64.42
3,1987-03-01 00:00:00,NaN,60.4,55.49,47.84,50.38,66,69.39,77.69,NaN,...,64.11,67.85,77.24,54.37,41.42,NaN,NaN,64.43,NaN,64.73
4,1987-04-01 00:00:00,NaN,61.32,56.05,47.98,50.74,66.64,69.46,77.82,NaN,...,64.89,68.19,78.28,54.16,41.27,NaN,NaN,65.06,NaN,65.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428,2022-08-01 00:00:00,333.22,405.12,401.27,357.02,318.11,302.25,407.52,380.47,232.4,...,259.64,293.72,275.77,173.44,328.63,299.11,377.18,321.49,310.1,302.04
429,2022-09-01 00:00:00,326.37,398.65,394.62,349.07,314.07,301.25,404.49,376.95,231.09,...,257.07,287.58,273.28,172.58,325.83,294.17,369.91,317.45,306.16,299.69
430,2022-10-01 00:00:00,322.57,396.96,393.28,345.95,312.86,300.72,400.48,373.83,229.77,...,254.82,283.72,272.01,171.82,325.3,291.52,369.65,315.95,304.68,298.99
431,2022-11-01 00:00:00,318.11,394.31,390.76,341.31,311.23,300.49,400.39,370.51,228.8,...,253.57,280.1,271.21,171.75,323.98,289.38,366.02,314.48,303.09,298.12
432,2022-12-01 00:00:00,313.9,392.56,388,337.14,308.76,299.98,399.93,368.05,228.06,...,252.36,275.91,270.48,171.4,319.71,287.45,361.66,313.17,301.54,297.08